[Desktop Entry]
Type=Application
Name=SSH Add
Comment=Add SSH key to agent
Exec=sh -c 'ssh-add ~/.ssh/id_ed25519 < /dev/null'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
X-KDE-autostart-phase=2
